<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">Aerium Improvement Proposals</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Aerium Improvement Proposals</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/aerium-network/aip"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg> <span class="username">aerium-network/aip</span></a></li>
        </ul>

      </div>

      <div class="footer-col footer-col-3">
        <form action="/search.html" method="get">
          <input type="text" id="search-box" name="query">
          <input type="submit" value="search">
        </form>
        <p></p>
        <p>AIPs, or Aerium Improvement Proposals, define standards and guidelines to improve the Aerium project. AIPs
          are designed to be a transparent and collaborative way to propose and discuss changes to the Aerium network.
        </p>
      </div>
    </div>

  </div>

</footer>
